/* Theme 3 */
body.theme3 {
    background-color: var(--veryDarkViolet);
    color: var(--ligthtYellow);
}

body.theme3 .input {
    color: var(--ligthtYellow);
}

body.theme3 .input-area {
    background-color: var(--darkVioletBack);
}

body.theme3 .keyboard {
    background-color: var(--darkVioletBack);
}

body.theme3 .nums .num {
    background-color: var(--keyboardViolet);
    color: var(--ligthtYellow);
}

body.theme3 .nums .num {
    box-shadow: 0 5px var(--darkMangeta);
}

body.theme3 .num:hover {
    background-color: #6b34ac;
}

body.theme3 .del {
    background-color: var(--violetKeyboard);
}

body.theme3 .reset {
    background-color: var(--violetKeyboard);
}

body.theme3 .del {
    box-shadow: 0 5px var(--mangeta);
}

body.theme3 .reset {
    box-shadow: 0 5px var(--mangeta);
}

body.theme3 .del:hover {
    background-color: #8631b0;
}

body.theme3 .reset:hover {
    background-color: #8631b0;
}

body.theme3 .equal {
    background-color: var(--pureCyan);
    color: var(--veryDarkBlue);
}

body.theme3 .equal {
    box-shadow: 0 5px var(--softCyan);
}

body.theme3 .equal:hover {
    background-color: #94fff9;
    
}

body.theme3 .toggle-container {
    background-color: var(--darkVioletBack);
}

body.theme3 .toggle-button {
    background-color: var(--pureCyan);
}